html,body{
    overflow-x:hidden;
}
body
{   font-family: 'Roboto', sans-serif;
    background-image: url("backee.jpg");

}


#Bienvenidos{
    position: absolute;
    margin-left: 600px;
    margin-top: 1px;
}

.formulario1{
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;
}

.Resultados{
    position: absolute;
    margin-left: 50px;
    margin-top: 425px;
}
.Titulo{
    position: absolute;
    margin-left: 15px;
    margin-top: 40px;

}
.gif{
    position: absolute;
    margin-left: 750px;
    margin-top: 150px;
    width: 2000px;


}
div{
    position: absolute;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}


#repuestanum{
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 400px;

}

#recomendacion{
    font-weight: bold;
    text-decoration: underline;
}

#respuesta{
    margin-top: 75px;
    margin-right: 1px;
    margin-bottom: 10px;
    margin-left: 150px;
}

#myCanvas{
    width: 600px;
    height: 300px;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 600px;
    background-color:#FFFFFF;
    border:1px solid #000000;
}




.tabla1{
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.main{
    position: relative;
    height: 200px;
    margin-left: 230px;
}

.sidebar{
    position: absolute;
    float: left;
    height: 200px;}

#tabla
{
    margin-top:150px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: 350px;
}

#distancias{
    margin-top:400px;
}

table td{
    padding:10px 20px 10px 20px;
}
thead{
    background-color: gold;
}
tbody{
    text-align:center;

}

#formula22{
    margin-left: 600px;
    font-size: 30px;
}


footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
}

#vuelta{
    margin-top: 50px;
}

#vuelta2{
    margin-top: 775px;
}